@using System.ComponentModel.DataAnnotations
@inject ILogger<StarshipForm> Logger

@* Info, en utilisant UseForgery() dans votre application (voir Program.cs), EditForm applique directement cette sécurité par défaut *@
@* Enhance seulement nécéssaire en static SSR *@
<EditForm Model="Model" OnValidSubmit="Submit" FormName="startship-form" Enhance>
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />

    <div class="mt-3">
        <label>Identifiant @RequiredTemplate("Id")</label>
        <InputText @bind-Value="Model!.Id" class="form-control" />
    </div>

    <div class="mt-3">
        <label>Description @RequiredTemplate("Description")</label>
        <InputTextArea @bind-Value="Model!.Description" class="form-control" />
    </div>

    <div class="mt-3">
        <label>Classification primaire @RequiredTemplate("Classification")</label>
        <InputSelect @bind-Value="Model!.Classification" class="form-control">
            <option value="">
                Sélectionnez une classification
            </option>
            <option checked="@(Model!.Classification == "exploration")"
                    value="exploration">
                Exploration
            </option>
            <option checked="@(Model!.Classification == "diplomacy")"
                    value="diplomacy">
                Diplomatie
            </option>
            <option checked="@(Model!.Classification == "defense")"
                    value="defense">
                Défense
            </option>
        </InputSelect>
    </div>

    <div class="mt-3">
        <label>Habitations maximum @RequiredTemplate("MaximumAccommodation")</label>
		<InputNumber @bind-Value="Model!.MaximumAccommodation" class="form-control" />
    </div>

    <div class="mt-3">
        <label>Date de production @RequiredTemplate("ProductionDate")</label>
        <InputDate @bind-Value="Model!.ProductionDate" class="form-control" />
    </div>

    <div class="mt-3">
        <InputCheckbox @bind-Value="Model!.IsValidatedDesign" id="IsValidatedDesign" />
        <label for="IsValidatedDesign">Approbation du design du modèle de vaisseau</label>
    </div>

    <div class="mt-3">
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm] // Ce paramètre n'est nécéssaire qu'avec le static SSR
    private StarshipFormModel? Model { get; set; }

    protected override void OnInitialized() => Model ??= new() { ProductionDate = DateTime.UtcNow };

    private RenderFragment RequiredTemplate(string property) => @<span>@(Attribute.IsDefined(typeof(StarshipFormModel).GetProperty(property)!, typeof(RequiredAttribute)) ? "*" : "")</span>;

    private void Submit()
    {
        Logger.LogInformation("Id = {Id} Description = {Description} " +
            "Classification = {Classification} MaximumAccommodation = " +
            "{MaximumAccommodation} IsValidatedDesign = " +
            "{IsValidatedDesign} ProductionDate = {ProductionDate}",
            Model?.Id, Model?.Description, Model?.Classification,
            Model?.MaximumAccommodation, Model?.IsValidatedDesign,
            Model?.ProductionDate);
    }
}
